.slide-one-container {
  background-color: #f2d10b;
  width: 100%;
  height: 100%;
  transform: translateY(50rem);
  transition: transform 1s;
}

.full-height {
  height: 100% !important;
  transform: translateY(0);
}
.slide-one-content {
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(../../images/slider-bgs/slide1.jpg);
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
  opacity: 1;
  top: 0px;
  left: 0px;
  visibility: inherit;
  z-index: 20;
}
.branding-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 1s;
}

.branding-text img {
  width: 100%;
  height: 100%;
}
.show-branding-text {
  opacity: 1;
}

.bulb-image-container {
  width: 35vw;
  height: 30vw;
  box-sizing: border-box;
  transform: translateY(100rem);
  transition: transform 1s;
  margin: 0 auto;
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
}

.logo-container {
  position: absolute;
  width: 10vw;
  height: 10vw;
  z-index: 10;
  top: 20%;
  right: 20%;
  img {
    width: 100%;
    height: 100%;
  }
}

.left-logo {
  width: 8vw;
  height: 8vw;
  top: 20%;
  left: 20%;
  transform: rotate(-60deg);
}

.bottom-left-logo {
  width: 6vw;
  height: 6vw;
  top: 70%;
  left: 20%;
  transform: rotate(-60deg);
}

.bulb-image-container img {
  width: 100%;
  height: 100%;
}
.small-bulb-image-container {
  position: absolute;
  width: 64px;
  height: 54px;
  // border: 1px solid green;
}
.small-bulb-image-container img {
  width: 100%;
  height: 100%;
}

.left-bulb {
  top: 50%;
  left: 10%;
  transform: rotate(-30deg);
}

.right-bulb {
  top: 20%;
  right: 3%;
  transform: rotate(30deg);
}
.show-bulb {
  transform: translateY(-18%);
}
.slide-one-letters {
  position: relative;
  text-align: center;
  color: rgb(127, 85, 0);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 21px;
}

.slide-one-letters div {
  display: inline-block;
}
.letters {
  opacity: 0;
  font-size: 21px;
}
.letter {
  display: inline-block;
  position: relative;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}
.letter.behind {
  transform: rotateY(-90deg);
}
.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
