.branding-page-container {
  width: 100%;
  height: 100%;
  background-image: url('../../images/brandingpagebg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
