.branding-page-container {
  background: linear-gradient(
    45deg,
    rgba(28, 49, 58, 1) 0%,
    rgba(28, 49, 58, 1) 51%,
    rgba(181, 188, 33, 1) 51%,
    rgba(181, 188, 33, 1) 100%
  );
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.branding-h2 {
  color: #b2bc21d9;
}
.branding-text-container {
  text-align: center;
}
.mascot-image-container {
  box-sizing: border-box;
}

.UIUX-title {
  padding-left: 80px;
  text-align: center;
}
.UIUX-desc-container {
  width: 70%;
  margin: 20px auto;
  padding: 20px 50px 20px 50px;
  background-color: rgba(0, 0, 0, 0.22);
  border-radius: 10px 10px 10px 10px;
}

.UIUX-desc {
  color: #ffffcc;
  font-size: 0.8rem;
}
.branding-btn {
  background: #b2bc21d9;
  color: white;
}

.branding-tags-container ul li:not(:last-child) {
  border-right: 1px solid #ffdf00;
  margin-right: 40px;
  padding-right: 40px;
}
.branding-tags {
  color: #ffdf00;
  font-size: 14px;
}

// .UIUX-content {
// }

.UIUX-main {
  display: flex;
}

.UIUX-image-container {
  img {
    max-width: 100%;
    height: auto;
  }
}
