.branding-page-container {
  background: linear-gradient(45deg, rgba(28, 49, 58, 1) 0%, rgba(28, 49, 58, 1) 51%, rgba(255, 221, 0, 1) 51%, rgba(255, 221, 0, 1) 100%);
}

.branding-h2 {
  color: #ffff60;
}
.branding-text-container {
  text-align: center;
}
.mascot-image-container {
  box-sizing: border-box;
}
.branding-p {
  color: #ffffcc;
  font-size: 14px;
}
.branding-btn {
  background: #ffdd01;
  color: #493200;
}

.branding-tags-container ul li:not(:last-child) {
  border-right: 1px solid #ffdf00;
  margin-right: 40px;
  padding-right: 40px;
}
.branding-tags {
  color: #ffdf00;
  font-size: 14px;
}
