.see-more-button {
  padding: 16px 60px;
  border-radius: 25px;
  font-size: 16px;
  border: none;
  box-shadow: 0px 7px 10px 0px rgba(76, 55, 6, 0.23);
  color: #493200;
  width: auto;
}

.pages h2 {
  font-size: 100px;
  text-transform: uppercase;
  mix-blend-mode: difference;
}

.pages-p-container {
  margin: 20px 60px;
  padding: 20px 50px 20px 50px;
  background-color: rgba(0, 0, 0, 0.22);
  border-radius: 10px 10px 10px 10px;
}
