.CreativeContent {
  background: #5146af;
  .CreativeContent-h2 {
    font-size: 4vw;
    color: white;
    .creative {
      color: #ff518b;
    }
    .digital {
      color: #fbc042;
    }
  }
  .CreativeContent-desc {
    color: white;
  }

  .CreativeContent-see-more-btn {
    background-color: white;
  }

  .UIUX-wording-contents {
    justify-self: end !important;
  }
}
