.digital-page-container {
  background: linear-gradient(
    45deg,
    rgba(28, 49, 58, 1) 0%,
    rgba(28, 49, 58, 1) 51%,
    rgba(98, 239, 255, 1) 51%,
    rgba(98, 239, 255, 1) 100%
  );
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.digital-h2 {
  color: rgba(98, 239, 255, 0.7) ;
}
.digital-p {
  color: #bafcff;
  font-size: 14px;
}
.digital-btn {
  background: #62efff;
  color: #493200;
}

.digital-tags-container ul li:not(:last-child) {
  border-right: 1px solid #62efff;
  margin-right: 40px;
  padding-right: 40px;
}
.digital-tags {
  color: #62efff;
  font-size: 14px;
}
