.latest-projects, .partners{
    text-align: center;
}
.projects-container {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}
.projects-container div {
}
.project-container img {
  width: 100%;
}
