.UIUX-container {
  background: white;
  height: 100%;
  width: 100%;
  padding: 120px;
  @media (max-width: 992px) {
    padding: 10px;
  }

  .UIUX-heading-image-container {
    img {
      width: 80%;
      @media (max-width: 992px) {
        height: auto;
        width: 50%;
      }
    }
  }
  .UIUX-content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    @media (max-width: 992px) {
      display: table;
    }
  }

  .UIUX-h2 {
    font-size: 5vw;
    span {
      color: #5146af;
    }
  }
}

.UIUX-wording-container {
  display: grid;
  justify-content: center;
  align-items: center;
  @media (max-width: 992px) {
    display: table-row;
    text-align: center;
  }
}

.UIUX-image-container {
  display: grid;
  justify-content: center;
  align-items: center;
  @media (max-width: 992px) {
    display: table-row;
    text-align: center;
  }
  img {
    width: 80%;
    height: auto;
    @media (max-width: 992px) {
      max-height: 100%;
      width: 50%;
    }
  }
}

.UIUX-desc-container {
  margin-top: 30px;
  margin-bottom: 30px;
  color: black;
}

.UIUX-desc {
  font-size: 0.8rem;
}
.UIUX-see-more-btn {
  background: #5146af;
  color: white;
}
