.UIUX-container {
  background: white;
  max-height: 100vh;
  width: 100%;
  padding: 120px;

  .left-contents {
    margin-right: 80px;
  }
  @media (max-width: 992px) {
    padding: 10px;
    height: 100vh;
  }

  .UIUX-heading-image-container {
    img {
      width: 100%;
      @media (max-width: 992px) {
        height: auto;
        width: 50%;
      }
    }
  }
  .UIUX-content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    // border: 1px solid rgb(230, 233, 42);
    @media (max-width: 992px) {
      display: table;
    }
  }

  .UIUX-h2 {
    font-size: 5vw;
    span {
      color: #5146af;
    }
  }
}

.UIUX-wording-container {
  flex-basis: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  // border: 1px solid saddlebrown;
  @media (max-width: 992px) {
    display: table-row;
    text-align: center;
  }

  .UIUX-wording-contents {
    // border: 1px solid purple;
    @media (max-width: 992px) {
      margin: 0 auto;
    }
  }
}

.UIUX-image-container {
  flex-basis: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  // border: 1px solid green;
  @media (max-width: 992px) {
    display: table-row;
    text-align: center;
  }
  img {
    width: 100%;
    height: auto;
    @media (max-width: 992px) {
      width: 50%;
      height: auto;
    }
  }
}

.UIUX-desc-container {
  margin-top: 0px;
  margin-bottom: 30px;
  color: black;
}

.UIUX-desc {
  font-size: 1rem;
  color: #666666;
}
.UIUX-see-more-btn {
  background: #5146af;
  color: white;
}

.special-case {
  position: absolute;
  top: 100vh;
  right: 120px;
  // border: 1px solid red;
  img {
    width: 80%;
  }
  @media (max-width: 992px) {
    position: static;
    margin: 0 auto;
  }
}
