.clients-container {
  box-sizing: border-box;
  width: 100%;
}

.cards-container {
  margin: 0 auto;
  width: 95%;
  height: 100%;
  display: flex;
}
.client-card {
  background-color: #ffffff;
  border: 1px solid #ededed;
  flex: 1;
  background-size: contain;
  background-repeat: no-repeat;
}
.client-card{
  margin-left: 10px;
}
.client-card img {
  width: 100%;
}
