footer {
  position: relative;
  height: 100%;
}
footer h1 {
  color: white;
}
footer ul {
  margin-top: 20px;
}
footer ul li {
  cursor: pointer;
  display: inline-block;
  margin-right: 40px;
  a {
    color: #879ba5;
  }
}

.rights-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #152021;
  padding: 10px;
  font-size: 12px;
}
footer .logo,
.footer-contact-info,
.footer-tag-line,
.footer-media-links {
  margin-top: 30px;
}

.Footer-logo{
  width: 50px;
  margin: 30px auto 0;
  img{
    width: 100%;
    height: auto;
  }
}