header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.header-menu-button {
  border: none;
  background: transparent;
  width: 30px;
  height: 30px;
}

.header-menu-button img {
  width: 100%;
}
