.landing-page-container {
  width: 100%;
}
.landing-page-container section {
  height: 100vh;
}
.section-one {
  color: white;
}

.section-two {
  background-color: rgb(200, 72, 77);
}

.section-three {
  background-color: rgb(51, 51, 51);
}

.section-five{
}