.social-media-links {
  //   border: 1px solid green;
  position: absolute;
  top: 30%;
  right: 2%;
  z-index: 1;
}
.social-media-link-container {
  margin-bottom: 10px;
}
.social-media-link-container div {
  cursor: pointer;
  width: 40px;
  height: 30px;
  padding: 5px;
  border-radius: 50px;
  background: rgba(white, 0.1);
  display: grid;
  align-items: center;
  justify-content: center;
}
.social-media-link-container div img {
  width: 20px;
  height: 20px;
  opacity: 0.8;
}

.social-media-link-container:hover {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
